{% extends "shared/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}
  User Profile
{% endblock title %}
{% block header %}
  User Profile
{% endblock header %}

{% block content %}
        <div class="container">
            <div>
              <h3><i class="fas fa-user">User Profile</h3>
            </div>
            <div class="row">
              <div class="col-sm-3">
                <ul>
                  <li><a href="">My Posts</a></li>
                  <li><a href="{% url 'password_change' %}">Change Password</a></li>
                </ul>
              </div>

              <div class="col-sm-9">
              <h3>Edit Post</h3>
                {% if form %}
                  <form action="" method="POST">
                  {% csrf_token %}
                    {{form.as_p| safe}}
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                {% endif %}
              </div>
          </div>
        </div>
{% endblock content %}
 
