#partitioneer2 .shopnav{
    margin-top: 70px;
}

#partitioneer2 .shopnav li{
    list-style-type: none;
    margin-bottom: 15px;
    /* background-color: white; */
}

#partitioneer2 .shopnav hr{
    width: 100px;
    text-align: left;
    /* border: 1px solid white; */
}

#partitioneer2 .shopnav li a{
    text-decoration: none;
    font-weight: bold;
    color: purple;
    padding-bottom: 30px;
    padding-right: 50px;
    margin-bottom: 15px;
}

#partitioneer2 .shopnav a:hover{
    width: 300cm;
    height: 100cm;
    clip-path: polygon(0% 0%, 75% 0%, 86% 47%, 75% 100%, 0% 100%);
    padding-top: 20px;
    padding-left: 20px;
    background-color: grey;
    color: silver;
}

/* For second colomn in the Section2 */

#partitioneer2 .shopprod1{
    position: relative;
    width: 400px;
}

#partitioneer2 .shopprod1 img{
    width: 100%;
    display: block;
    border-radius: 9px;
    padding: 40px;
    
}

#partitioneer2 .shopprod1 .image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 330px;
    border-radius: 9px;
    margin-left: 55px;
    color: black;
    font-family:cursive;
    background-color: rgba(192, 192, 192, 0.479);
    opacity: 0;
    transition: 0.25s;
    margin-top: 40px;
}

#partitioneer2 .shopprod1 .image_overlay:hover{
    opacity: 1;
}

#partitioneer2 .shopprod1 .image_title{
    text-align: center;
    padding-top: 90px;
    font-size: 30px;
}

#partitioneer2 .shopprod1 .image_description{
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

#partitioneer2 .shopprod1 .image_overlay li{
    display: inline;
    list-style-type: none;
    margin-left: 45px;
    text-align: center;
}

#partitioneer2 .shopprod1 .image_overlay li a{
    text-align: center;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    background: whitesmoke;
    border-radius: 9px;
}

/* For the Second column */
 #partitioneer2 .shopprod2{
     position: relative;
     width: 400px;
     /* border: 1px solid red; */
 }

 #partitioneer2 .shopprod2 img{
     width: 271px;
     height: 334px;
     margin-top: 36px;
     /* padding: 40px; */
 }

 #partitioneer2 .shopprod2 .image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 272px;
    height: 335px;
    border-radius: 9px;
    margin-left: 15px;
    color: black;
    font-family:cursive;
    background-color: rgba(192, 192, 192, 0.479);
    opacity: 0;
    transition: 0.25s;
    margin-top: 35px;
}

#partitioneer2 .shopprod2 .image_overlay:hover{
    opacity: 1;
}

#partitioneer2 .shopprod2 .image_title{
    text-align: center;
    padding-top: 80px;
    font-size: 30px;
}

#partitioneer2 .shopprod2 .image_description{
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

#partitioneer2 .shopprod2 .image_overlay li{
    display: inline;
    list-style-type: none;
    margin-left: 45px;
    text-align: center;
}

#partitioneer2 .shopprod2 .image_overlay li a{
    text-align: center;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    background: whitesmoke;
    border-radius: 9px;
}




#partitioneer3 .shopnav{
    margin-top: 70px;
}

#partitioneer3 .shopnav li{
    list-style-type: none;
    margin-bottom: 15px;
    /* background-color: white; */
}

#partitioneer3 .shopnav hr{
    width: 100px;
    text-align: left;
    /* border: 1px solid white; */
}

#partitioneer3 .shopnav li a{
    text-decoration: none;
    font-weight: bold;
    color: purple;
    padding-bottom: 30px;
    padding-right: 50px;
    margin-bottom: 15px;
}

#partitioneer3 .shopnav a:hover{
    width: 300cm;
    height: 100cm;
    clip-path: polygon(0% 0%, 75% 0%, 86% 47%, 75% 100%, 0% 100%);
    padding-top: 20px;
    padding-left: 20px;
    background-color: grey;
    color: silver;
}

/* For second colomn in the Section3 */

#partitioneer3 .shopprod1{
    position: relative;
    width: 400px;
}

#partitioneer3 .shopprod1 img{
    width: 100%;
    display: block;
    border-radius: 9px;
    padding: 40px;
    margin-top: 40px;
}

#partitioneer3 .shopprod1 .image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 330px;
    border-radius: 9px;
    margin-left: 55px;
    color: black;
    font-family:cursive;
    background-color: rgba(192, 192, 192, 0.479);
    opacity: 0;
    transition: 0.25s;
    margin-top: 40px;
}

#partitioneer3 .shopprod1 .image_overlay:hover{
    opacity: 1;
}

#partitioneer3 .shopprod1 .image_title{
    text-align: center;
    padding-top: 90px;
    font-size: 30px;
}

#partitioneer3 .shopprod1 .image_description{
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

#partitioneer3 .shopprod1 .image_overlay li{
    display: inline;
    list-style-type: none;
    margin-left: 45px;
    text-align: center;
}

#partitioneer3 .shopprod1 .image_overlay li a{
    text-align: center;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    background: whitesmoke;
    border-radius: 9px;
}

/* For the Second column */
 #partitioneer3 .shopprod2{
     position: relative;
     width: 400px;
     /* border: 1px solid red; */
 }

 #partitioneer3 .shopprod2 img{
     width: 271px;
     height: 334px;
     margin-top: 36px;
     /* padding: 40px; */
 }

 #partitioneer3 .shopprod2 .image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 272px;
    height: 335px;
    border-radius: 9px;
    margin-left: 15px;
    color: black;
    font-family:cursive;
    background-color: rgba(192, 192, 192, 0.479);
    opacity: 0;
    transition: 0.25s;
    margin-top: 35px;
}

#partitioneer3 .shopprod2 .image_overlay:hover{
    opacity: 1;
}

#partitioneer3 .shopprod2 .image_title{
    text-align: center;
    padding-top: 80px;
    font-size: 30px;
}

#partitioneer3 .shopprod2 .image_description{
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

#partitioneer3 .shopprod2 .image_overlay li{
    display: inline;
    list-style-type: none;
    margin-left: 45px;
    text-align: center;
}

#partitioneer3 .shopprod2 .image_overlay li a{
    text-align: center;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    background: whitesmoke;
    border-radius: 9px;
}


/* For the Second column */
 #partitioneer .shopprod2{
     position: relative;
     width: 400px;
     /* border: 1px solid red; */
 }

 #partitioneer .shopprod2 img{
     width: 271px;
     height: 334px;
     margin-top: 36px;
     /* padding: 40px; */
 }

 #partitioneer .shopprod2 .image_overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 272px;
    height: 335px;
    border-radius: 9px;
    margin-left: 15px;
    color: black;
    font-family:cursive;
    background-color: rgba(192, 192, 192, 0.479);
    opacity: 0;
    transition: 0.25s;
    margin-top: 35px;
}

#partitioneer .shopprod2 .image_overlay:hover{
    opacity: 1;
}

#partitioneer .shopprod2 .image_title{
    text-align: center;
    padding-top: 80px;
    font-size: 30px;
}

#partitioneer .shopprod2 .image_description{
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}

#partitioneer .shopprod2 .image_overlay li{
    display: inline;
    list-style-type: none;
    margin-left: 45px;
    text-align: center;
}

#partitioneer .shopprod2 .image_overlay li a{
    text-align: center;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    background: whitesmoke;
    border-radius: 9px;
}


{% else %}
                           <video type="video/mp4">
                            src="{{posts.leadvid.url}}"
                            </video>
                            \
<div class="container">
            <div class="row">
                <div class="col-sm-10 mx-auto">
                    <h3>Buy Item</h3>
                    {% if request.user.is_authenticated %}
                                <li>
                                    Welcome 
                                    {% if request.user.first_name %}
                                    <a href="#">
                                    {{ request.user.first_name }}
                                    {% else %}
                                    {{ request.user.username }}
                                    </a>     
                                    {% endif %}
                                </li>
                            {% else %}
                            <p>Anonymous</p>
                    {% endif %}
                </div>
            </div>
        </div>